@mixin transition($properties...) {
  $value: ();

  @each $property in $properties {
    $duration: 300ms;
    $timing-function: cubic-bezier(.4, 0, .2, 1);

    $transition: $property + ' ' + $duration + ' ' + $timing-function;

    $value: append($value, $transition, comma);
  }

  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  transition: $value;
}
