// нижний блок с инвентарем
.board {
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }

  &-enter-active,
  &-leave-active {
    transition: opacity 0.1s ease-out;
  }
}

// смена страниц
.page {
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }

  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s ease-out;
  }
}

// боковое меню
@keyframes sidenav {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

// сдвиг справа
@keyframes shiftRight {
  0% {
    transform: translateX(-600px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes show {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes hidden {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes shiftTop {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}
