@import './_reset.css';

body {
  font-family: Inter, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url(/images/cursor_gauntlet.png), auto;
}

a:hover,
button:hover {
  cursor: url(/images/cursor_sword.png), auto;
}

input,
label {
  cursor: url(/images/cursor_gauntlet2.png), auto;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  color: gray;
  font-size: 12px;
  transform: translate(-12px, -8px) scale(0.8);
}

.scrollbar-custom {
  scrollbar-color: #181818 #d4cece;
  scrollbar-width: 8px;
}

.scrollbar-custom ::webkit-scrollbar-track {
  background: #181818;
  moz-background: #181818;
}

.scrollbar-custom::webkit-scrollbar-thumb {
  background-color: #d4cece;
}
