@import './_reset.css';

body {
  font-family: Inter, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url(/images/cursor_gauntlet.png), auto;
}

a:hover,
button:hover {
  cursor: url(/images/cursor_sword.png), auto;
}

input,
label {
  cursor: url(/images/cursor_gauntlet2.png), auto;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  color: gray;
  font-size: 12px;
  transform: translate(-12px, -8px) scale(0.8);
}

/* Кастомный скроллбар */
.scrollbar-custom {
  direction: rtl;
  padding-right: 16px;
  overflow-y: auto;
  height: 100%;
  scrollbar-width: 14px;
  scrollbar-color: #800080 #222222;
}

.scrollbar-custom > * {
  direction: ltr;
}

/* Webkit */
.scrollbar-custom::-webkit-scrollbar {
  width: 14px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #222222;
  border-radius: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #800080;
  border-radius: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #d4cece;
}
