*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: unset;
}

ul,
li,
ol {
  text-indent: 0;
  list-style: unset;
}

button,
a {
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
input:focus {
  outline: none;
}
