@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: local('inter-thin'), local('Inter-Thin'),
    url('./Inter-Thin.woff') format('woff'),
    url('./Inter-Thin.woff2') format('woff2'),
    url('./Inter-Thin.ttf') format('ttf'), url('./Inter-Thin.eot') format('eot');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: local('inter-light'), local('Inter-Light'),
    url('./Inter-Light.woff') format('woff'),
    url('./Inter-Light.woff2') format('woff2'),
    url('./Inter-Light.ttf') format('ttf'),
    url('./Inter-Light.eot') format('eot');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: local('inter-semibold'), local('Inter-Medium'),
    url('./Inter-Medium.woff') format('woff'),
    url('./Inter-Medium.woff2') format('woff2'),
    url('./Inter-Medium.ttf') format('ttf'),
    url('./Inter-Medium.eot') format('eot');
}
